In [34]:
# Packages imports
import pandas as pd
import numpy as np
from datetime import datetime

In [58]:
# Reading data
dtype = {'Ferry Direction': object, 'Ferry Terminal Name': object}
parse_dates = ['Created Date', 'Closed Date']
df = pd.read_csv('./311_Service_Requests_from_2010_to_Present.csv', dtype=dtype, parse_dates=parse_dates)
df.head(5)

# Note: this will take some time due to Created Date and Closed Date columns transformation to date.

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,32310363,2015-12-31 23:59:45,2016-01-01 00:55:15,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10034.0,71 VERMILYEA AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.865682,-73.923501,"(40.86568153633767, -73.92350095571744)"
1,32309934,2015-12-31 23:59:44,2016-01-01 01:26:57,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11105.0,27-07 23 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.775945,-73.915094,"(40.775945312321085, -73.91509393898605)"
2,32309159,2015-12-31 23:59:29,2016-01-01 04:51:03,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,10458.0,2897 VALENTINE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.870325,-73.888525,"(40.870324522111424, -73.88852464418646)"
3,32305098,2015-12-31 23:57:46,2016-01-01 07:43:13,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10461.0,2940 BAISLEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.835994,-73.828379,"(40.83599404683083, -73.82837939584206)"
4,32306529,2015-12-31 23:56:58,2016-01-01 03:24:42,NYPD,New York City Police Department,Illegal Parking,Blocked Sidewalk,Street/Sidewalk,11373.0,87-14 57 ROAD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.733060,-73.874170,"(40.733059618956815, -73.87416975810375)"

In [59]:
# Columns' data type
df.dtypes

Unique Key                                 int64
Created Date                      datetime64[ns]
Closed Date                       datetime64[ns]
Agency                                    object
Agency Name                               object
Complaint Type                            object
Descriptor                                object
Location Type                             object
Incident Zip                             float64
Incident Address                          object
Street Name                               object
Cross Street 1                            object
Cross Street 2                            object
Intersection Street 1                     object
Intersection Street 2                     object
Address Type                              object
City                                      object
Landmark                                  object
Facility Type                             object
Status                                    object
Due Date                                  object
Resolution Description                    object
Resolution Action Updated Date            object
Community Board                           object
Borough                                   object
X Coordinate (State Plane)               float64
Y Coordinate (State Plane)               float64
Park Facility Name                        object
Park Borough                              object
School Name                               object
School Number                             object
School Region                             object
School Code                               object
School Phone Number                       object
School Address                            object
School City                               object
School State                              object
School Zip                                object
School Not Found                          object
School or Citywide Complaint             float64
Vehicle Type                             float64
Taxi Company Borough                     float64
Taxi Pick Up Location                    float64
Bridge Highway Name                       object
Bridge Highway Direction                  object
Road Ramp                                 object
Bridge Highway Segment                    object
Garage Lot Name                          float64
Ferry Direction                           object
Ferry Terminal Name                       object
Latitude                                 float64
Longitude                                float64
Location                                  object
dtype: object

In [60]:
# Dataset size
print(df.shape)

(364558, 53)

In [61]:
# Sorting by date
df = df.sort_values(by='Created Date')

In [62]:
# Calculating week number for Created Date column
# df['CD Week Number'] = df['Created Date'].dt.week

# Filtering requests by a specific week number of the year (2015)
# week = 3
# condition_week = df['CD Week Number'] == week
# filtered = df[condition_week]
# filtered.shape

# Note: I tried to work with month then with week number, but it is still a huge amount of data. When ploting
# it is hard to distinct among points. I keep this snipet for constance of my work

In [75]:
# Filtering requests between 2 specific dates
start_date = '01-14-2015'
end_date = '01-15-2015'
condition = (df['Created Date'] > start_date) & (df['Created Date'] < end_date)
filtered = df[condition]
filtered.shape
# Note: Getting data from 1 day (January 14th)

(496, 53)

In [76]:
# Getting time differance between request registration and closing
response_time = pd.DataFrame((filtered['Closed Date'] - filtered['Created Date']) / np.timedelta64(1, 'm'), columns=['Response Time'])
response_time = response_time.reset_index()
del response_time['index']
response_time = response_time.round(3)
response_time.head()

   Response Time
0        246.283
1          6.033
2         81.417
3        320.383
4         52.850

In [77]:
# Final result size
response_time.shape

(496, 1)

In [78]:
# Saving time difference in minutes to a new csv file
response_time.to_csv('311_Service_Requests_Response_Time.csv', index=False, decimal='.')